In [118]:
import pandas as pd;

In [119]:
df=pd.read_csv(r"C:\Users\Kick Buttowski\Documents\College work\Co-Curricular\Projects\Datasets\Politics dataset\LokSabha2019.csv")

In [120]:
df

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Constituency,Liabilities,Winner,Gender
0,Kuldeep Rai Sharma,INC,0,Graduate Professional,52,132233012.0,Andaman And Nicobar Islands,80450870,1.0,M
1,Ayan Mandal,AITC,0,Graduate,30,7270440.0,Andaman And Nicobar Islands,1500000,0.0,M
2,C G Saji Kumar,All India Hindustan Congress Party,0,12th Pass,48,120000.0,Andaman And Nicobar Islands,0,0.0,M
3,C U Rasheed,IND,0,12th Pass,34,202808.0,Andaman And Nicobar Islands,1700000,0.0,M
4,Gour Chandra Majumder,IND,0,Graduate,52,6062000.0,Andaman And Nicobar Islands,0,0.0,M
...,...,...,...,...,...,...,...,...,...,...
7963,Maksuda Khatun,CPI(M),0,Doctorate,58,12578736.0,Uluberia,2876353,0.0,F
7964,Minati Sarkar,SUCI(C),0,Graduate,61,1091556.0,Uluberia,0,0.0,F
7965,Shoma Ranisree Roy\t,INC,0,Post Graduate,40,5400000.0,Uluberia,0,0.0,F
7966,Simal Saren,Indian Unity Centre,0,Graduate Professional,33,946406.0,Uluberia,601000,0.0,M
7967,Susanta Kumar Dalui,IND,0,10th Pass,54,910236.0,Uluberia,43553,0.0,M

In [121]:
w=pd.read_csv(r"C:\Users\Kick Buttowski\Desktop\19.csv",header=None)
winners=[]
for i in w[0]:
    winners.append(i.upper())
len(winners)

522

In [122]:
import numpy as np
a=np.setdiff1d(winners,df['Candidate']).tolist()
len(a)

521

In [124]:
col=[]
count = 0
for i in df['Candidate']:
    if i.upper() in winners:
        col.append('1')
        winners.remove(i.upper())  
    else:
        col.append('0')

In [125]:
df['Winner']=col

In [126]:
df.groupby(['Winner']).apply(lambda x : x.count())

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Constituency,Liabilities,Winner,Gender
Winner,,,,,,,,,,
0,7967,7967,7967,7967,7967,7907,7967,7967,7967,7967
1,1,1,1,1,1,1,1,1,1,1

In [104]:
df.to_csv("2019.csv")

In [117]:
len(winners)

452